@import './variables';

body{
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    color : $dark;
    font-weight: 600;
}
.ml_100{
    margin-left: 100px !important;
}
.mr_100{
    margin-right:100px !important;
}
.menu_links{
    margin-right:100px !important;
}
nav li:last-child a {
    background: $primary;
    &:hover{
        background:$primary-hover;
    }
}
nav li a{
    transition: $smooth;
    &:hover{
        color:$primary
    }
}
 .btn{
    transition-duration: .5s;
	transform: rotateX(45deg);
	box-shadow: 0px 10px 5px rgba(0, 0, 0, .3);
	cursor: pointer;
}
.btn {
    &:hover{
        transform: scale(1);
		box-shadow: none;
    }
}

section.header{
    background: $secondary;
}
.header_img{
    width: 600px !important;
}

.field {
	display: flex;
	width: 220px;
	justify-content: space-around;
}

.sns-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 200px;
    margin-top: 20px !important;
	border-radius: 20px;
	border: none;
	transition-duration: .5s;
	transform: rotateX(45deg);
	box-shadow: 0px 10px 5px rgba(0, 0, 0, .3);
	cursor: pointer;
	&{
		background-color:$primary;
        color: $pure;
	}	
	&:hover {
		transform: scale(1);
		box-shadow: none;
	}
	&__icon {
		font-size: 33px;
		letter-spacing: 0.1em;
		color: #fff;
	}
}

