<section class="cart">
    
        <!-- <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mt-10 mb-6">Cart Empty ☹️</h1>
            <p class="ml_100 mr_100 text-gray-500 text-lg mb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Quis, doloremque consequuntur veniam fugit vel cupiditate <br>voluptas! Assumenda, perspiciatis corporis consequatur<br> fugiat ipsa saepe, alias tenetur fugit quas neque, vel voluptates.</p>
    
            <img class = " w-1/3 mx-auto" src="/img/empty-cart.png" alt="">
            <div class="field mx-auto"> 
                <a class="sns-btn"> Go Back
                    <i class="sns-btn__icon"></i>
                </a>
            </div>
        </div> -->

        
    
</section>